.top-text {
  margin: 2vh 2vw;
  padding: 0px;
  position: fixed;
  z-index: 1;
  color: white;
  opacity: 0;
  font-size: 18px;
}

.skills {
  margin-left: 65vw;
  z-index: 1;
  position: fixed;
  color: white;
}

.skills-header {
  opacity: 0;
  font-size: 24px;
  margin-bottom: 5vh;
}

.skills-text {
  opacity: 0;
}

.final-skill {
  font-size: 20px;
  color: red;
}

.external-links {
  color: orange;
  font-style: normal;
  font-size: 22px;
}

/* Make each section 100% of the browser viewport height */
section {
    height: 100vh;
    color: white;
}
  /* Center the content of the sections */
  section .center-content {
    padding: 25vh 35vw 25vh 15vw;
    align-items: center;
    justify-content: center
  }

.logo {
  height: 164px;
}

.transition {
  transition: all 0.5s linear;
}
 
/* Background colors for each section */
#one { background-color: #6666ff; }
#two { background-color: #44aaaa; }
#three { background-color: #ff6666; }
#four { background-color:  #005900; }
#five { background-color: #12af36; }
#six { background-color: #993299; }
.is-active {background-color: #222222 !important;}

/* #993299 - purple */
