.top-text {
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 1;
  color: white;
}

.shown {
  opacity: 1;
  transition: all 0.4s linear;
}

.not-shown {
  opacity: 0;
  transition: all 0.4s linear;
}

/* Make each section 100% of the browser viewport height */
section {
    height: 100vh;
    color: white;
}
  /* Center the content of the sections */
  section .center-content {
    padding: 25vh 0vw 25vh 15vw;
    align-items: center;
    justify-content: center
  }

.logo {
  height: 164px;
}

.transition {
  transition: all 0.5s linear;
}
 
/* Background colors for each section */
#one { background-color: #6666ff; }
#two { background-color: #ff3232; }
#three { background-color: #44aaaa; }
#four { background-color:  #005900; }
#five { background-color: #ffffff; }
#six { background-color: #993299; }
.is-active {background-color: #222222 !important;}

/* #993299 - purple */