.top-text {
  margin: 2vh 2vw;
  padding: 0px;
  position: fixed;
  z-index: 1;
  color: white;
  opacity: 0;
  font-size: 24px;
}

.skills {
  margin-left: 65vw;
  z-index: 1;
  position: fixed;
  color: white;
}

.skills-header {
  opacity: 0;
  font-size: 24px;
  margin-bottom: 5vh;
}

.skills-text {
  opacity: 0;
}

.final-skill {
  font-size: 28px;
  color: 	#7ddc1f;
}

.external-links {
  color: 		#7ddc1f;
  font-style: normal;
  font-size: 22px;
}

.external-links:visited {
  color: 		#7ddc1f;
  font-style: normal;
  font-size: 22px;
}

.external-links:hover {
  font-style: normal;
  color: 	#fdcf58;
}

.iri-logo {
  width: 164px;
	height: 164px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  background: url(../img/iri.jpg) no-repeat;
}

/* Make each section 100% of the browser viewport height */
section {
    height: 100vh;
    color: white;
}
  /* Center the content of the sections */
  section .center-content {
    padding: 25vh 35vw 25vh 15vw;
    align-items: center;
    justify-content: center
  }

.logo {
  height: 164px;
}

.right-arrow {
  fill: white;
  margin: 0px 3vw;
  height: 48px;
  align-items: center;
  justify-content: center
}

.introduction {
  margin: 5vh 0vw;
  font-size: 72px;
}

.description-text {
  font-size: 20px;
}

.transition {
  transition: all 0.5s linear;
}

.position-title {
  display: inline;
  color: #ffff32;
}
 
/* Background colors for each section */
#one { background-color: #1b85b8; }
#two { background-color: #bda040; }
#three { background-color: #eb6841; }
#four { background-color:  #6b2294; }
#five { background-color: #cc2a36; }
#six { background-color: #993299; }
.is-active {background-color: #222222 !important;}

/* #993299 - purple */
